DATABASE_URL=postgresql://postgres:postgres@localhost:5432/packslip
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_STORE_DOMAIN=superiorshrimpaquatics.myshopify.com
SHOPIFY_APP_URL=https://pack-slip.fly.dev
SCOPES=read_orders,read_customers
OPENWEATHER_API_KEY=
